<a href="https://colab.research.google.com/github/dattatrayshinde123/Python-code/blob/main/CustomerChurnPredictionByUsingANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Artificial Neural Network**

In [13]:
#Import required libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf

# **Part 1 - Data Preprocessing**

In [14]:
#Importing the dataset

df=pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [15]:
#check missing values

df.isnull().sum()
df.dropna()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [16]:
X=df.iloc[:,3:-1].values
y=df.iloc[:,-1].values

In [17]:
X

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [18]:
#Label encoding for gender column
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
X[:,2]=le.fit_transform(X[:,2])
# X[:,1]=le.fit_transform(X[:,1])

In [19]:
X

array([[619, 'France', 0, ..., 1, 1, 101348.88],
       [608, 'Spain', 0, ..., 0, 1, 112542.58],
       [502, 'France', 0, ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 0, ..., 0, 1, 42085.58],
       [772, 'Germany', 1, ..., 1, 0, 92888.52],
       [792, 'France', 0, ..., 1, 0, 38190.78]], dtype=object)

# Encoding categorical variables

In [20]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[1])],remainder='passthrough')
X=np.array(ct.fit_transform(X))

Encoding dependent variable

In [21]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
y=le.fit_transform(y)

In [22]:
y

array([1, 0, 1, ..., 1, 1, 0])

Splitting the dataset into Train and Test

In [23]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

# Feature Scaling

In [24]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

# **Part 2 -Building ANN**

Intializing the ANN

In [25]:
ann=tf.keras.models.Sequential()

Adding the input layer and First hidden layer

In [26]:
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

Adding the second hidden layer

In [27]:
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

Adding the output layer

In [28]:
ann.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

# **Part 3- Traning the ANN**

compling the ANN

In [29]:
ann.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

Traning the ANN or training dataset

In [30]:
ann.fit(X_train,y_train,batch_size=32,epochs=100)

Epoch 1/100
250/250 [==============================] - 2s 2ms/step - loss: 0.5815 - accuracy: 0.7335
Epoch 2/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4750 - accuracy: 0.7960
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4521 - accuracy: 0.7960
Epoch 4/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4401 - accuracy: 0.7960
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4336 - accuracy: 0.7960
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4298 - accuracy: 0.7960
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4269 - accuracy: 0.7960
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4239 - accuracy: 0.8001
Epoch 9/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4210 - accuracy: 0.8138
Epoch 10/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4179 - accuracy: 0.8185
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4144 - accuracy: 0.8249
Epoch 12/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4098 - accuracy: 0.8284
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4057 - accuracy: 0.8335
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4015 - accuracy: 0.8345
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3958 - accuracy: 0.8380
Epoch 16/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3899 - accuracy: 0.8400
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3850 - accuracy: 0.8415
Epoch 18/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3811 - accuracy: 0.8424
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3776 - accuracy: 0.8451
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3749 - accuracy: 0.8460
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3724 - accuracy: 0.8469
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3703 - accuracy: 0.8480
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3680 - accuracy: 0.8490
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3663 - accuracy: 0.8509
Epoch 25/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3649 - accuracy: 0.8503
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3635 - accuracy: 0.8510
Epoch 27/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3617 - accuracy: 0.8520
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3610 - accuracy: 0.8526
Epoch 29/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3595 - accuracy: 0.8525
Epoch 30/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3584 - accuracy: 0.8539
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3574 - accuracy: 0.8549
Epoch 32/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3562 - accuracy: 0.8550
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3549 - accuracy: 0.8545
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3541 - accuracy: 0.8565
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3536 - accuracy: 0.8580
Epoch 36/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3531 - accuracy: 0.8551
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3523 - accuracy: 0.8556
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3521 - accuracy: 0.8579
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3512 - accuracy: 0.8566
Epoch 40/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3512 - accuracy: 0.8566
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3506 - accuracy: 0.8584
Epoch 42/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3497 - accuracy: 0.8581
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3495 - accuracy: 0.8580
Epoch 44/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3489 - accuracy: 0.8587
Epoch 45/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3492 - accuracy: 0.8595
Epoch 46/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3493 - accuracy: 0.8597
Epoch 47/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3489 - accuracy: 0.8587
Epoch 48/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3478 - accuracy: 0.8597
Epoch 49/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3479 - accuracy: 0.8595
Epoch 50/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3477 - accuracy: 0.8586
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3474 - accuracy: 0.8600
Epoch 52/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3470 - accuracy: 0.8593
Epoch 53/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3466 - accuracy: 0.8564
Epoch 54/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3473 - accuracy: 0.8609
Epoch 55/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3465 - accuracy: 0.8585
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3471 - accuracy: 0.8609
Epoch 57/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3461 - accuracy: 0.8604
Epoch 58/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3461 - accuracy: 0.8597
Epoch 59/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3465 - accuracy: 0.8594
Epoch 60/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3460 - accuracy: 0.8600
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3455 - accuracy: 0.8602
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3456 - accuracy: 0.8587
Epoch 63/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3455 - accuracy: 0.8600
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3454 - accuracy: 0.8601
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3456 - accuracy: 0.8605
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3459 - accuracy: 0.8594
Epoch 67/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3449 - accuracy: 0.8604
Epoch 68/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3452 - accuracy: 0.8583
Epoch 69/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3448 - accuracy: 0.8605
Epoch 70/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3450 - accuracy: 0.8618
Epoch 71/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3441 - accuracy: 0.8610
Epoch 72/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3442 - accuracy: 0.8593
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3446 - accuracy: 0.8600
Epoch 74/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3451 - accuracy: 0.8594
Epoch 75/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3445 - accuracy: 0.8595
Epoch 76/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3443 - accuracy: 0.8593
Epoch 77/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3445 - accuracy: 0.8602
Epoch 78/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3442 - accuracy: 0.8602
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3444 - accuracy: 0.8596
Epoch 80/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3442 - accuracy: 0.8600
Epoch 81/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3441 - accuracy: 0.8612
Epoch 82/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3436 - accuracy: 0.8614
Epoch 83/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3444 - accuracy: 0.8608
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3448 - accuracy: 0.8597
Epoch 85/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3448 - accuracy: 0.8591
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3435 - accuracy: 0.8609
Epoch 87/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3439 - accuracy: 0.8610
Epoch 88/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3438 - accuracy: 0.8606
Epoch 89/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3444 - accuracy: 0.8587
Epoch 90/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3439 - accuracy: 0.8596
Epoch 91/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3436 - accuracy: 0.8615
Epoch 92/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3442 - accuracy: 0.8594
Epoch 93/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3436 - accuracy: 0.8584
Epoch 94/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3440 - accuracy: 0.8600
Epoch 95/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3433 - accuracy: 0.8608
Epoch 96/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3435 - accuracy: 0.8610
Epoch 97/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3441 - accuracy: 0.8585
Epoch 98/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3435 - accuracy: 0.8604
Epoch 99/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3429 - accuracy: 0.8585
Epoch 100/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3436 - accuracy: 0.8591

# **part 4 - making the prediction and evaluating the model**

Homework : Predicting the result of a single customer

Use our ANN model to predict if the customer with the following informations will leave the bank:

Geography: France

Credit Score: 600

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: $ 60000

Number of Products: 2

Does this customer have a credit card ? Yes

Is this customer an Active Member: Yes

Estimated Salary: $ 50000

So, should we say goodbye to that customer ?

In [34]:
print(ann.predict(sc.transform([[1,0,0,600,1,40,3,60000,2,1,1,50000]]))>0.5)

1/1 [==============================] - 0s 63ms/step
[[False]]

Therefore, our ANN model predicts that this customer stays in the bank!

Important note 1: Notice that the values of the features were all input in a double pair of square brackets. That's because the "predict" method always expects a 2D array as the format of its inputs. And putting our values into a double pair of square brackets makes the input exactly a 2D array.

Important note 2: Notice also that the "France" country was not input as a string in the last column but as "1, 0, 0" in the first three columns. That's because of course the predict method expects the one-hot-encoded values of the state, and as we see in the first row of the matrix of features X, "France" was encoded as "1, 0, 0". And be careful to include these values in the first three columns, because the dummy variables are always created in the first columns.

# Predicting Test Set result

In [35]:
y_pred=ann.predict(X_test)
y_pred=(y_pred>0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1),y_test.reshape(len(y_test),1)),1))

63/63 [==============================] - 0s 4ms/step
[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

Confusition matrix

In [36]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(y_test,y_pred)
print(cm)
accuracy_score(y_test,y_pred)

[[1524   71]
 [ 209  196]]

0.86